---
layout: one_page
title: Careers - Dentropy
custom_css: purple
custom_font: font2
---

<div class="content-wrapper">
    {% include one_page_nav_2.html %}
    
    <section id="careers" class="py-5">
        <div class="wrapper white-wrapper">
            <div class="container inner">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h2 class="display-3 text-center mb-4">Careers at Dentropy</h2>
                        <div class="space20"></div>
                        <p class="text-center">We're always looking for talented individuals to join our team. If you're interested in working with us, please send your resume to:</p>
                        <p class="text-center"><a href="mailto:careers@dentropy.com">careers@dentropy.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer_3.html extra_class="light-wrapper" %}
</div>