<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="/assets/images/dentropy-logo.png" alt="Dentropy" class="logo-dark" style="height: 35px; width: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/team.html">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/careers.html">Careers</a>
        </li>
        <li class="nav-item">
          <a href="/signup.html" class="btn btn-send">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-nav {
    align-items: center;
  }
  .navbar-nav .nav-item {
    display: flex;
    align-items: center;
  }
  .navbar-nav .btn.btn-send.nav-link {
    padding: 0.375rem 0.75rem;
    font-size: inherit;
    line-height: inherit;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
  }
  .navbar-nav .btn.btn-send.nav-link:hover {
    color: white;
    opacity: 0.9;
  }
</style>